@use "../../styles/global.scss" as *;
@use "../../styles/utils/variables.scss" as *;
@use "../../styles/utils/mixins.scss" as *;
@use "../../styles/utils/media.scss" as *;

.accordion {
  border-radius: 8px;
  background: $white;
  padding: 24px;

  &__header {
    @include flex-center;
    justify-content: start;
    gap: 40px;
  }

  &__title {
    color: $purple-950;
    font-weight: bold;
    font-size: 32px;
  }
}

@include onTablet {
  .accordion {
    padding: 40px;
    &__header {
      gap: 40px;
    }
  }
}

@include onMobile {
  .accordion {
    &__header {
      gap: 24px;
    }
  }
}
